<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fyp_mobile">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fyp_mobile"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.systemAccount.view.LoginView"
            android:exported="true">
        </activity>
        <activity
            android:name="com.customerAuthentication.view.HomeView"
            android:exported="true">
        </activity>
        <activity
            android:name="com.systemAccount.view.RegisterView"
            android:exported="true">
        </activity>
        <activity
            android:name="com.systemAccount.view.ProfileView"
            android:exported="true">
        </activity>
        <activity
            android:name="com.systemAccount.view.EditProfileView"
            android:exported="true">
        </activity>
        <activity android:name="com.customerAuthentication.view.CheckInView" android:exported="true" />
        <activity android:name="com.order.view.SessionView" android:exported="true" />
        <activity android:name="com.order.view.CartView" android:exported="true" />
        <activity android:name="com.order.view.WaiterView" android:exported="true" />
        <activity android:name="com.order.view.StripPaymentActivity" android:exported="true" />
        <activity android:name="com.order.view.PaymentResult" android:exported="true" />
        <activity android:name="com.reporting.view.VisitHistoryView" android:exported="true" />
        <activity android:name="com.reporting.view.VisitHistoryFeedbackView" android:exported="true" />
        <activity android:name="com.reporting.view.ConsumptionView" android:exported="true" />
        <activity android:name="com.systemAccount.view.ResetPasswordView" android:exported="true" />
        <activity android:name="com.systemAccount.view.ResetPasswordConfirm" android:exported="true" />
    </application>

</manifest>